<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Mario Oimet copywrong <%= image_tag("copyright-icon.png", :alt => "Wizard's Hat") %> 2017</p>
  </div>
</footer>
