<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"><%= image_tag("copyright-icon.png", :alt => "Wizard's Hat") %> Mario Oimet copywrong 2017</p>
  </div>
</footer>
